@import url(https://fonts.googleapis.com/css2?family=Lora&family=Roboto:ital,wght@1,100&display=swap);

body {
    font-family: 'Lora', serif;
    size: contain;
}

.start {
    background-image: url(fon.jpg);
    background-size: no-repeat cover ;
    background-position: center;
    opacity: 1;
    background: linear-gradient(to bottom white white);
}

.head {
    display: flex;
    border-bottom: 1px solid white;
    color: white;
    height: 75px;
    justify-content: space-between;
}

.head div:first-child {
    align-self: center;
    padding-left: 50px;
    flex-shrink: 0;
}

.second {
    align-self: center;
    width: 700px;
    /* flex-grow: 1; */
}

.second a {
    padding: 0 25px;
}

.head div:last-child {
    align-self: center;
    padding-right: 10px;
    flex-shrink: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.search {
    /* border-radius: 50px; */
    background: none;
    border-color: none;
    width: 125px;
    color: white;
    border: 0ch;
}

.search::placeholder {
    color: white
}

.search:hover {
    /* opacity: 0.5; */
    color: white;
}

.search:focus {
    border-color: white;
    outline: white;
    padding: 10px 30px;
}

.search:focus-within {
    background: white;
    color: navy;
}

.lang {
    background: none;
    /* border: white; */
    padding: 5px;
    color: white;
    border-color: white;
    border-radius: 50px;
    padding: 5px;

}

.telo {
    color: white;
    display: flex;
    height: 650px;
}

.page {
    display: flex;
    flex-direction: column;
    margin: 100px 50px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 100px;
}

.page p:first-child {
    font-size: 50px;
    align-self: start;
    justify-self: center;
    margin-bottom: 0px;
    margin-top: 120px;
}

.page .p {
    font-size: 15px;
    align-self: start;
    justify-self: center;
    flex-wrap: wrap;
    flex-grow: 0;
    margin-left: 0px;
}

.page a {
    font-size: 20px;
    align-self: start;
    justify-self: center;
}

.block {
    display: flex;
    flex-wrap: wrap;
    padding: 200px 50px;
}

.block > div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    margin: 20px;
    padding: 0 20px;
    height: 150px;
    width: 220px;
}

.block div:first-child {
    align-self: start;
    justify-self: center;
    background-color: rgba(0, 68, 255, 0.932)
}

.block .second-box {
    align-self: center;
    justify-self: center;
    background-color: rgb(0, 219, 219);
}

.block .third-box {
    align-self: start;
    justify-self: end;
    background-color: orange;
    height: 200px;
}

.block div:last-child {
    align-self: center;
    justify-self: end;
    background-color: red;
    height: 200px;
}

.directory {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 68, 255);
    height: 500px;
}

.directory > div {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
    margin: 70px 30px;
    flex-grow: 0;
    flex-shrink: 1;
}

.directory a {
    padding: 10px 0px;
}

.directory a:hover {
    color: yellow;
}

.yellow-block {
    background-color: orange;
    color: black;
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.yellow-block a {
    color: red;
}

.f {
    display: flex;
    justify-content: center;
    /* flex-grow: 1; */
    flex-shrink: 1;
    justify-content: space-between;
    padding: 0px 160px;
    margin-top: 20px;
}

.f h4 {
    align-self: center;
    justify-self: center;
    flex-grow: 0;
    flex-shrink: 0;
}

.f a {
    color: black;
    text-decoration: underline;
    align-self: center;
}

.holiday {
    display: flex;
    justify-content: space-around;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 20px 40px 30px 40px;
    padding: 0px 100px;
}

.holiday div {
    padding: 20px 20px;
}

.h1 {
    background-color: red;
    width: 250px;
    height: 200px;
}

.h2 {
    background-color: green;
    width: 250px;
    height: 200px;
}

.h3 {
    display: flex;
    background-color: blue;
    width: 250px;
    height: 200px;
}

.white-block {
    display: flex;
    justify-content: space-around;
    height: 600px;
    background-color: white;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px 100px;
    flex-shrink: 1;
}

.park {
    background-color: grey;
    height: 200px;
    width: 400px;
}

.e {
    background-color: gold;
    height: 200px;
    width: 400px;
}

.e div:first-child {
    display: flex;
    flex-direction: column;
}

.e div:last-child {
    display: flex;
    flex-direction: column;
}

.news {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    flex-shrink: 1;
    flex-grow: 1;
    padding: 20px 50px 0px 50px;
}

.news a {
    color: black;
    text-decoration: underline;
}

.box-news {
    display: flex;
    flex-direction: column;
    justify-content: center space-between;
    flex-shrink: 1;
    margin: 0px 20px;
}

.box-news a {
    color: black;
}

.n {
    background-color: black;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.a {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
}
  
.app-store {
    background: rgb(21, 23, 24);
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 0px;
    text-align: center;
    width: 125px;
    height: 60px;
    font-size: 10px;
}

.app-store:hover {
    transform: scale(1.1);
    transition: transform .25s;
    z-index: 2;
}

.play {
    background: rgb(21, 23, 24);
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 0px;
    text-align: center;
    width: 125px;
    height: 60px;
    font-size: 10px;
}

.play:hover {
    transform: scale(1.1);
    transition: transform .25s;
    z-index: 2;
}

footer {
    background-color: rgb(20, 175, 175);
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 0;
    height: 700px;
    /* padding: 20px 60px; */
}

footer > div {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    /* justify-content: center;
    justify-self: center; */
    justify-content: space-around;
    margin: 10px 100px;
    /* flex-wrap: wrap; */
}



footer a {
    padding: 5px 0px;
}

footer a:hover {
    color: yellow;
}

.f1 > div {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
    flex-grow: 0;
    flex-shrink: 1;
    /* margin: 20px 70px; */
}

.f2 > div {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
    flex-grow: 0;
    flex-shrink: 1;
    /* margin: 20px 30px; */
    padding: 0px 55px;
    
}

.mail::placeholder {
    color: black;
    opacity: 0.9;
}

.fab {
    width: 30px;
    height: 50px;
    font-size: 1.7em; 
}

.fab a:hover {
    color: yellow;
}

.mail {
    width: 200px;
}